@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Estilos Gerais
/* 2. Header
/* 3. Main
/* 4. Aside
/* 5. Main-tabela
/* 6. Footer
/**********************************/


/**********************************/
/* 0. Variáveis
/**********************************/

:root {
    --cor0:#7EDFA8;
    --cor1: #25607A;
    --cor2: #DBDB00;
    --cor3: #C323EB;
    --cor4: #F56C14;
    --cor5: #dbdb0054;

    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor5);
    font-family: var(--fonte0);
}

a,
a:hover,
a:active,
a:link {
	text-decoration: none;
}

p {
    text-align: justify;
    text-indent: 2em;
    line-height: 2em;
}

em {
    font-style: italic;
}

/**********************************/
/* 2. Header
/**********************************/

header {
    background-image: repeating-linear-gradient(to bottom, var(--cor0), rgb(6, 161, 6));
    box-shadow: 2px 4px 10px #0000005e;
    width: 100%;
}
.container {
    background: linear-gradient(rgba(0,0,0,.15), rgba(0, 0, 0, 0.050)100%);
    width: 100%;
}

.container-titulos {
    width: 100%;
    min-height: 150px;
    margin: auto;
    text-align: center;
}

header h1 {
    color: #FFFF;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .4666);
    font-family: var(--fonte1);
    font-size: 3em;
    letter-spacing: 1.5px;
    padding-top: 40px;
    padding-bottom: 25px;
}

header h3 {
    color: #FFFF;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .4666);
    font-size: 1.2em;
    padding: 0 25px 25px 25px;
}

header nav {
    padding: 10px;
}

.nav__link {
    color: #dddddd;
    font-weight: bold;
    padding: 10px;
    transition: .3s;
}

.nav__link:hover {
    background-color: #dbdb00a6;
    border-radius: 3px;
    color: #FFFFFF;
}

/**********************************/
/* 3. Main
/**********************************/

main {
    background-color: #FFF;
    box-shadow: 0px 4px 10px #0000005e;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    margin-bottom: 40px;
    min-width: 320px;
    max-width: 800px;
    padding: 15px;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 10px 0;
}

.subtitulo {
    background-image: repeating-linear-gradient(to right, var(--cor0), #ffffff);
    margin: 10px 0;
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

main figure {
    margin: 10px 0;
    text-align: center;
}

.time-machine-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10px;
}

img {
    width: 100%;
}

main figcaption {
    padding: 5px;
    text-align: center;
}

.autor-link {
    background-color: var(--cor0);
    color: rgb(3, 107, 3);
}

.autor-link::after {
    content: '\00A0\1F517';
}

.autor-link:hover {
    text-decoration: underline;
}

div.video {
    position: relative;
    background: var(--cor0);
    height: 0;
    margin: 10px -15px 15px -15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/**********************************/
/* 4. Aside
/**********************************/

aside > h3 {
    width: 100%;
    color: #FFF;
    font-family: var(--fonte0);
    background-color: #185C30;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

aside {
    margin-top: 20px;
    background-color: var(--cor0);
    border-radius: 8px;
}

aside > p,ul {
    padding: 0 20px 20px 20px;
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

.p-aside {
    margin-top: 10px;
}
/**********************************/
/* 6. Footer
/**********************************/

footer{
    background-color: #185C30;
    color: #FFF;
    padding: 4px 10px 4px 10px;
}

footer p {
    font-size: 16px;
    text-align: center;
}

footer a {
    color: #FFF;
    font-weight: bold;
}

footer a:hover {
    color: var(--cor2);
}

